@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.containerPokemons {
  height: 60vh;
  overflow-y: scroll;
}

@media (width > 768px) {
  body {
    background-image: url('/fondo2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }

  .containerPokemons {
    height: 73vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  }

  /* Estilos de la barra de desplazamiento para Chrome, Edge y Safari */
  .containerPokemons::-webkit-scrollbar {
    width: 8px;
  }

  .containerPokemons::-webkit-scrollbar-track {
    background: transparent;
  }

  .containerPokemons::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: 3px solid transparent;
  }
}
