@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.containerPokemons {
  height: 60vh;
  overflow-y: scroll;
}

@media (width > 768px) {
  body {
    background-image: url('/fondo2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }

  .containerPokemons {
    height: 80vh;
    overflow-y: scroll;
  }
}
